* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  height: 10000px;
}

.layer_section {
  position: relative;
  width: 700px;
  height: 450px;
  left: calc(46% - 275px);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.layer_wrapper {
  width: 250px;
  height: 300px;
  position: absolute;
  top: 0px;
  right: 0px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
          transform: rotateX(-70deg);
}

.layer_wrapper .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #7C7C7C;
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
  -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: 1s;
  transition: 1s;
  left: 0px;
}

.layer_wrapper .layer:nth-child(1) {
  top: 0px;
  z-index: 10;
  background: url("../img/gray-bg.jpg") center/cover no-repeat;
}

.layer_wrapper .layer:nth-child(2) {
  top: 50px;
  z-index: 9;
  background: url("../img/gray-bg.jpg") center/cover no-repeat;
}

.layer_wrapper .layer:nth-child(3) {
  top: 100px;
  z-index: 8;
  background: url("../img/gray-bg.jpg") center/cover no-repeat;
}

.layer_wrapper .layer:nth-child(4) {
  top: 150px;
  z-index: 7;
  background: url("../img/gray-bg.jpg") center/cover no-repeat;
}

.layer_wrapper .layer:nth-child(5) {
  top: 200px;
  z-index: 6;
  background: url("../img/gray-bg.jpg") center/cover no-repeat;
}

.layer_line_design {
  position: absolute;
  background: #B4101E;
  height: 1px;
  display: none;
  opacity: 0;
  -webkit-animation: 1.5s layer_line_design forwards;
          animation: 1.5s layer_line_design forwards;
  z-index: 50;
}

@-webkit-keyframes layer_line_design {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes layer_line_design {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.layer_line_design:nth-of-type(odd) {
  width: 7%;
  top: 18%;
  left: 42%;
}

.layer_line_design:nth-of-type(odd)::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: inherit;
  border-radius: 50%;
  top: 83px;
  left: 130px;
  z-index: 22;
}

.layer_line_design:nth-of-type(odd)::before {
  content: 'Layer Headline';
  position: absolute;
  font-weight: bolder;
  display: block;
  font-size: 18px;
  width: 135px;
  text-align: center;
  left: -273%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.layer_line_design:nth-of-type(even) {
  width: 17%;
  top: 27%;
  left: 46%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
}

.layer_line_design:nth-of-type(1) {
  top: calc(18% + -0.3%);
  left: calc(42% - 0.5%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.layer_line_design:nth-of-type(3) {
  top: calc(18% + 10.7%);
  left: calc(42% - 4.5%);
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.layer_line_design:nth-of-type(5) {
  top: calc(18% + 22.7%);
  left: calc(42% - 8.5%);
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.layer_line_design:nth-of-type(7) {
  top: calc(18% + 33.7%);
  left: calc(42% - 13.52%);
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.layer_line_design:nth-of-type(9) {
  top: calc(18% + 44.7%);
  left: calc(42% - 17.5%);
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.layer_line_design:nth-of-type(2) {
  top: calc(27% + 0%);
  left: calc(46% - 0%);
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.layer_line_design:nth-of-type(4) {
  top: calc(27% + 11%);
  left: calc(46% + -4%);
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.layer_line_design:nth-of-type(6) {
  top: calc(27% + 23%);
  left: calc(46% + -8%);
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.layer_line_design:nth-of-type(8) {
  top: calc(27% + 34%);
  left: calc(46% + -13%);
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.layer_line_design:nth-of-type(10) {
  top: calc(27% + 45%);
  left: calc(46% + -17%);
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

@media (max-width: 1000px) {
  .layer_section {
    -webkit-transform: scale(0.9) !important;
            transform: scale(0.9) !important;
  }
}

@media (max-width: 900px) {
  .layer_section {
    -webkit-transform: scale(0.8) !important;
            transform: scale(0.8) !important;
  }
}

@media (max-width: 800px) {
  .layer_section {
    -webkit-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
  .layer_line.nl {
    height: 6px;
  }
}

@media (max-width: 700px) {
  .layer_section {
    -webkit-transform: scale(0.58) !important;
            transform: scale(0.58) !important;
  }
}

@media (max-width: 600px) {
  .layer_section {
    left: calc(30% - 275px) !important;
  }
}

@media (max-width: 500px) {
  .layer_section {
    left: calc(30% - 275px) !important;
    -webkit-transform: scale(0.47) !important;
            transform: scale(0.47) !important;
  }
}

@media (max-width: 400px) {
  .layer_section {
    -webkit-transform: scale(0.35) !important;
            transform: scale(0.35) !important;
    left: calc(30% - 300px) !important;
  }
}

@media (max-width: 300px) {
  .layer_section {
    -webkit-transform: scale(0.26) !important;
            transform: scale(0.26) !important;
    left: calc(30% - 300px) !important;
  }
}

@media (max-width: 200px) {
  .layer_section {
    -webkit-transform: scale(0.2) !important;
            transform: scale(0.2) !important;
  }
}
/*# sourceMappingURL=style.css.map */